@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cor-primaria: #143447;
  --cor-secundaria: #ff0763;
  --cor-terciaria: white;
  --cor-do-fundo: #181414;
  --fonte: "Ubuntu", serif;
  --fonte-secundaria: "Poppins", serif;
}

body {
  color: var(--cor-terciaria);
  font-family: var(--fonte-secundaria);
  background-image: url("assets/fundoDeTela.png");
  background-size: 100%;
}

.cabecalho {
  padding: 3rem;
  display: flex;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho_imagens {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 20%;
}

.cabecalho_ancoras {
  display: flex;
  gap: 3.5rem;
}

.ancora {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 300;
}

.ancora:hover {
  color: var(--cor-secundaria);
}

.home {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

.home_textoPrincipal {
  font-size: 40px;
  font-weight: 450;
}

.home_textoSecundario {
  font-size: 20px;
  padding: 0 18rem;
  font-weight: 400;
}

.carrossel {
  display: grid;
  place-items: center;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  overflow: hidden;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.slider_itens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {

  0% {
      transform: translateX(80%);
  }

  100% {
      transform: translateX(-20%);
  }
}

.slider_itens img {
  width: 12%;
  margin: 20px;
}

